services:
    database:
        image: postgres:18
        container_name: database
        restart: unless-stopped
        environment:
            POSTGRES_DB: bayesian_adhd
            POSTGRES_USER: db_user
            POSTGRES_PASSWORD: db_password
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql

volumes:
    postgres_data:
